:root{
    --color-fundo: #01080E
    --color-principal: #0b0d20
    --color-sencundaria: #212333
    --colordestaque: #2bdefd
    --color-texto: #d7f9ff
}

body{
    background-color: var(--color-fundo);
    color: var(--color-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .caixa-principal{
        background-color: var(--color-principal);
    }